@import "reset.css";
@font-face {
    src: url("./AktivGrotesk/AktivGroteskCorp-Regular.ttf");
    font-family: "aktiv";
}
@font-face {
    src: url("./NotoSansCJKkr/NotoSansCJKkr-Regular.otf");
    font-family: "notosans";
}

* {
    box-sizing: border-box;
    font-family: "notosans";
}

header {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;    
    padding-left: 177px;
}
header img {
    cursor: pointer;
    margin-right: 150px;
    width: 96px;
    height: 17px;
}
header .nav {
    display: flex;
    width: 600px;
    height: 5vh;
    justify-content: space-around;
    align-items: center;
}
header .nav a {
    text-decoration: none;
    color: #073290;
    font-size: 14px;
    font-weight: bold;
}
header .nav a:hover {
    border-bottom: 3px solid #073290;
    padding-bottom: 3px;
}

main {
    width: 100%;
    height: 95vh;
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.greet {
    background: linear-gradient(90deg, 
 rgba(8,49,144,1) 0%, rgba(4,25,123,1) 100%);
    display: flex;
    height: 100%;
    padding: 13% 0 10% 177px;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.greet h1 {
    font-size: 45px;
    line-height: 1.4;
    font-family: "aktiv";
}
.introduce {
    display: flex;
    flex-direction: column;
    width: 374px;
    height: 60%;
    justify-content: space-around;
}
.introduce h2 {
    font-size: 25px;
    margin-bottom: 40px;
}
.introduce p {
    line-height: 1.8;
    opacity: 0.8;
    font-size: 13px;
}
.image {
    background-image: url('https://i.ibb.co/Zg4tcjf/greeting.jpg');
    background-position: center;
    background-size: cover;
}