@import "reset.css";
@font-face {
    src: url("./NotoSerifCJKkr/NotoSerifCJKkr-Regular.otf");
    font-family: "notoserif";
}
@font-face {
    src: url("./NotoSansCJKkr/NotoSansCJKkr-Regular.otf");
    font-family: "notosans";
}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;    
    padding-left: 177px;
}
header img {
    cursor: pointer;
    margin-right: 150px;
    width: 96px;
    height: 17px;
}
header .nav {
    display: flex;
    width: 600px;
    height: 5vh;
    justify-content: space-around;
    align-items: center;
}
header .nav a {
    text-decoration: none;
    color: #073290;
    font-size: 14px;
    font-weight: bold;
}
header .nav a:hover {
    border-bottom: 3px solid #073290;
    padding-bottom: 3px;
}

main {
    width: 100%;
    height: 95vh;
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.location {
    background-color: #083190;
    display: flex;
    height: 100%;
    padding: 15% 0 25% 15%;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.location h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 1.65px;
    font-family: "notosans";
}
.transit {
    display: flex;
    flex-direction: column;
    width: 374px;
    height: 400px;
}
.transit h2 {
    font-size: 22px;
    margin: 70px 0 50px 0;
    font-family: "notoserif";
}
.transit p {
    line-height: 1.8;
    opacity: 0.8;
    font-size: 13px;
}
.transit div {
    display: flex;
    flex-direction: column;
}
.transit button {
    display: flex;
    width: 297px;
    height: 48px;
    padding: 8px 18px;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
    margin-right: 30px;
    cursor: pointer;
    margin-bottom: 20px;
    outline: none;
    font-family: "notoserif";
}
.transit button:hover {
    background-color: white;
    color: navy;
    font-weight: bold;
}
.image {
    background-image: url('https://i.ibb.co/d0tMRZh/Downtown-cityscape-of-Seoul.jpg');
    background-position: center;
    background-size: cover;
}

.way {
    display: flex;
    width: 370px;
    height: 400px;
    flex-direction: column;
    justify-content: space-between;
}
.way h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 35px;
    font-family: "notoserif";
}
.way div h3 {
    font-size: 17px;
    font-weight: 600;
    font-family: "notosans";
}
.way div p {
    font-size: 12px;
    line-height: 2;
    opacity: 0.8;
    font-family: "notosans";
}