@import "reset.css";
@font-face {
    src: url("./NotoSerifCJKkr-hinted/NotoSerifCJKkr-Black.otf");
    font-family: "noto";
}
@font-face {
    src: url("./AktivGrotesk/AktivGroteskCorp-Regular.ttf");
    font-family: "aktiv";
}

* {
    box-sizing: border-box;
    font-family: "noto";
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;    
    padding-left: 177px;
}
header img {
    cursor: pointer;
    margin-right: 150px;
    width: 96px;
    height: 17px;
}

header .nav {
    display: flex;
    width: 600px;
    height: 5vh;
    justify-content: space-around;
    align-items: center;
}
header .nav a {
    text-decoration: none;
    color: #073290;
    font-size: 14px;
    font-weight: bold;
}
header .nav a:hover {
    border-bottom: 3px solid #073290;
    padding-bottom: 3px;
}
/* 여기까지 header */

main {
    width: 100%;
    height: 95vh;
    background: linear-gradient(to right, #083190, #041948);
}
.person_title {
    display: flex;
    width: 83%;
    height: 150px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.person_title span {
    color: white;
    font-size: 13px;
    line-height: 1.8;
}
.person_title img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.person {
    margin-top: 10px;
    width: 100%;
    height: 560px;
    background-color: white;
    display: flex;
}
.person img {
    width: 45%;
    height: 100%;
}

.person_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 60px;
}
.person_name {
    display: flex;
    width: 700px;
    justify-content: space-between;
}
.person_name h1 {
    font-size: 35px;
}
.person_name p {
    color: gray;
    width: 400px;
    line-height: 1.8;
    font-size: 12px;
}
.person_name span {
    color: gray;
    font-size: 12px;
}

.person_career {
    display: flex;
    flex-direction: column;
    height: 330px;
    justify-content: space-between;
}
.person_career div h2 {
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 10px;
    font-weight: bold;
}
.person_career div p {
    line-height: 1.9;
    font-size: 13px;
}


footer {
    position: absolute;
    bottom: 44px;
    display: flex;
    width: 100%;
    justify-content: center;
}
footer p{
    font-size: 13px;
    color: rgba(255,255,255,0.5);
    font-family: "aktiv";
}