@import "reset.css";
@font-face {
    src: url("./NotoSansCJKkr/NotoSansCJKkr-Regular.otf");
    font-family: "notosans";
}

* {
    box-sizing: border-box;
    font-family: "notosans";
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;    
    padding-left: 177px;
}
header img {
    cursor: pointer;
    margin-right: 150px;
    width: 96px;
    height: 17px;
}
header .nav {
    display: flex;
    width: 600px;
    height: 5vh;
    justify-content: space-around;
    align-items: center;
}
header .nav a {
    text-decoration: none;
    color: #073290;
    font-size: 14px;
    font-weight: bold;
}
header .nav a:hover {
    border-bottom: 3px solid #073290;
    padding-bottom: 3px;
}
/* 여기까지 header */

main {
    width: 100%;
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
main div {
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 95vh;
}
main div:hover h1 {
    opacity: 0.5;
}
main div h1 {
    font-size: 35px;
    color: white;
    letter-spacing: 1.65px;
    line-height: 1.3;
    text-align: center;
    font-weight: 600;
}
.yeoksam {
    background-image: linear-gradient(to right, 
 rgba(7, 50, 144, 0.30) , rgba(7, 50, 144, 0.30) ),url(https://i.ibb.co/gDCrSxK/back-yeoksam.jpg);
}
.yeoksam:hover {
    background-image: linear-gradient(to right, 
 rgba(7, 50, 144, 0.70) , rgba(7, 50, 144, 0.70) ),url(https://i.ibb.co/gDCrSxK/back-yeoksam.jpg);
}
.yeoido {
    background-image: linear-gradient(to left, 
 rgba(7, 50, 144, 0.19) , rgba(7, 50, 144, 0.19) ),url(https://i.ibb.co/9gw080z/back-yeoido.jpg);
}
.yeoido:hover {
    background-image: linear-gradient(to left, 
 rgba(7, 50, 144, 0.45) , rgba(7, 50, 144, 0.45) ),url(https://i.ibb.co/9gw080z/back-yeoido.jpg);
}