@import "reset.css";
@font-face {
    src: url("./AktivGrotesk/AktivGroteskCorp-Regular.ttf");
    font-family: "aktiv";
}

* {
    box-sizing: border-box;
    font-family: "aktiv";
}

header {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;    
    padding-left: 177px;
}
header img {
    cursor: pointer;
    margin-right: 150px;
    width: 96px;
    height: 17px;
}
header .nav {
    display: flex;
    width: 600px;
    height: 5vh;
    justify-content: space-around;
    align-items: center;
}
header .nav a {
    text-decoration: none;
    color: #073290;
    font-size: 14px;
    font-weight: bold;
}
header .nav a:hover {
    border-bottom: 3px solid #073290;
    padding-bottom: 3px;
}
/* 여기까지 header */

main {
    width: 100%;
    height: 200vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9) ),url('https://i.ibb.co/0sR4b2V/Gangnam-District-at-night.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 50px;
}
.title {
    width: 100%;
    color: white;
    margin-bottom: 150px;
}
.title h1 {
    margin-left: 45%;
    font-size: 33px;
    text-transform: uppercase;
}
.title h1 span {
    float: right;
    font-size: 14px;
    line-height: 1.5;
    margin-right: 180px;
    text-align: left;
}
/* 여기까지 title */

.profile_box {
    width: 85%;
    height: 170vh;
    margin: auto;
    display: grid;
    grid-gap: 140px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 532px;
}
.profile_img {
    width: 100%;
    height: 427px;
    margin: 0;
    cursor: pointer;
}
.profile_desc {
    color: white;
    background-color: #1f316f;
    height: 105px;
    padding: 20px 0 0 18px;
    margin: 0;
}
.profile_desc h2 {
    font-size: 18px;
}
.profile_desc p {
    font-size: 13px;
}
footer {
    display: flex;
    width: 100%;
    justify-content: center;
}
footer p{
    font-size: 13px;
    color: rgba(255,255,255,0.5);
}