@import "reset.css";
@font-face {
    src: url("./AktivGrotesk/AktivGroteskCorp-Regular.ttf");
    font-family: "aktiv";
}
@font-face {
    src: url("./NotoSansCJKkr/NotoSansCJKkr-Regular.otf");
    font-family: "notosans";
}

* {
    box-sizing: border-box;
    font-family: "notosans";
}

header {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;    
    padding-left: 177px;
}
header img {
    cursor: pointer;
    margin-right: 150px;
    width: 96px;
    height: 17px;
}

header .nav {
    display: flex;
    width: 600px;
    height: 5vh;
    justify-content: space-around;
    align-items: center;
}
header .nav a {
    text-decoration: none;
    color: #073290;
    font-size: 14px;
    font-weight: bold;
}
header .nav a:hover {
    border-bottom: 3px solid #073290;
    padding-bottom: 3px;
}
/* 여기까지 header */

main {
    width: 100%;
    height: 95vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    background-color: #073290;
}
main .service_left {
    padding-left: 120px;
    display: flex;
    height: 95%;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding-top: 20px;
}
main .service_left h1 {
    font-size: 35px;
    line-height: 1.3;
    font-family: "aktiv";
}
main .service_left img {
    width: 70px;
    height: 70px;
    cursor: pointer;
    margin-bottom: 20px;
}
.service_desc h2 {
    font-size: 24px;
}
.service_desc p {
    font-size: 14px;
    line-height: 1.85;
    opacity: 0.8;
}
.service_right {
    height: 100%;
    background-size: cover;
    background-position: center;
}