@import "reset.css";
@font-face {
    src: url("./NotoSansCJKkr/NotoSansCJKkr-Regular.otf");
    font-family: "notosans";
}
@font-face {
    src: url("./NotoSerifCJKkr/NotoSerifCJKkr-Regular.otf");
    font-family: "notoserif";
}

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;    
    padding-left: 177px;
}
header img {
    cursor: pointer;
    margin-right: 150px;
    width: 96px;
    height: 17px;
}

header .nav {
    display: flex;
    width: 600px;
    height: 5.5vh;
    align-items: center;
}
header .nav a {
    text-decoration: none;
    color: #073290;
    font-size: 14px;
    font-weight: bold;
    margin-right: 79px;
}
header .nav a:hover {
    border-bottom: 3px solid #073290;
    padding-bottom: 3px;
}

#backVideo {
    object-fit: cover;
    width: 100%;
    height: 95vh;
    background-blend-mode: saturation;
  }
main {
    position: fixed;
    width: 100%;
    top:5.5vh;
    height: 94.5vh;
    padding-top: 17vh;
}
.banner {
    width: 100%;
    height: 507px;
    color: white;
    background: linear-gradient( 90deg
 , rgba(4,25,72,1) 0%, rgba(7,50,144,0.2) 75%);
    padding: 71px 0 108px 172px;
}
.banner h1 {
    font-size: 75px;
    margin-bottom: 55px;
    font-family: "notoserif";
}
.banner > p {
    line-height: 1.5;
    opacity: 0.9;
    height: 120px;
    font-size: 14px;
    margin-bottom: 30px;
}
.banner > div {
    display: flex;
}
.banner button {
    display: flex;
    width: 297px;
    height: 48px;
    padding: 8px 18px;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
    margin-right: 30px;
    cursor: pointer;
    outline: none;
}
.banner button .line {
    border-bottom: 2px solid white;
    width: 60px;
}
.banner button:hover {
    background-color: white;
    color: navy;
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 44px;
    display: flex;
    width: 100%;
    justify-content: center;
}
footer p{
    font-size: 13px;
    color: rgba(255,255,255,0.5);
}